.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;

    form {
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
  
  & > div {
    //Liten kul animasjon: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateY 
    &:hover {
      transform: translateY(-5px);
      transition: all 0.3s ease;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    h3 {
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem;
    }

    p {
      margin: 0;
      font-size: 1rem;
    }

    a {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
      color: #fff;
      background-color: #007bff;
      border-radius: 5px;
      text-decoration: none;

      &:hover {
        background-color: #0069d9;
        color: #fff;
        transition: all 0.3s ease;
      }
    }
  }
}